* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 2%;
    background-color: rgba(243, 237, 237, 0.918);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: rgb(42, 78, 109);
}

header.scrolling-active {
    background-color: rgb(247, 241, 241);
}

/* Image */
.img {
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

/* Body */
body {
    background-image: url("feedback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100vw; 
    overflow-x: hidden;
}

    

/* Main Content */
main {
    margin: 125px 25px 80px 25px;
}

/* Form */
.form {
    width: 50vw;
    margin: 20vh auto;
    padding: 20px;
    background-color: rgba(235, 241, 236, 0.062);
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 0 5px 9px rgba(239, 239, 240, 0.705);
}

input {
    color: black;
}

/* Heading */
.heading {
    margin: 10px 0;
}

.heading h1 {
    color: white;
    font-size: 32px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
    letter-spacing: 1px;
}

/* Radio Buttons */
.container-1 input[type="radio"],
.container-2 input[type="radio"] {
    accent-color: #13ad53;
    height: 15px;
    width: 15px;
}

/* Buttons */
button {
    padding: 10px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    width: 45%;
    color: black;
    background-color: #56E161;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
}

.btn-group button:hover {
    color: whitesmoke;
}

/* Labels */
label {
    font-size: 18px;
    font-weight: 500;
}

/* Input Fields */
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 12px;
    height: 13px;
}

/* Textarea */
.textarea-1 {
    width: 100%;
    height: 75px;
    resize: none;
}

textarea {
    width: 100%;
    background: #F5F5F5;
    padding: 1rem;
    border-radius: .5rem;
    color: black;
    resize: none;
    margin-bottom: .5rem;
}

/* Rating Stars */
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2.9rem;
    margin-bottom: 2rem;
}

.rating .star {
    cursor: pointer;
    color: #56E161;
}

.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rating .star:hover {
    transform: scale(1.1);
}


