* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('BgImages/profile.jpg');
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
}

.vertical_left_section {
    width: 800px;
    background-color: #333;
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.vertical_left_section hr {
    border: 1px solid #ddd;
    height: 1px;
    width: 90%;
    margin: 20px auto;
}

.vertical_left_section legend h1 {
    font-size: 2.5em;
}

.vertical_left_section img {
    width: 160px;
    border-radius: 50%;
}

/* Profile Picture Styling */
.profile-container {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

/* Profile Image */
.profile-picture {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;

}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

/*Hide the file input*/
#file-input {
    display: none;
}

/*Initially hide the hover overlay*/
.upload-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.profile-picture:hover img {
    opacity: 0.6;
}

/*Show the hover overlay when the profile-picture is hovered*/
.profile-picture:hover .upload-hover {
    opacity: 1;
}

/*Main user details (left section)*/
.main-user-details {
    margin-top: 50px;
    width: 100%;
}

.main-user-details label {
    display: block;
    margin-bottom: 10px;
}

.main-user-details input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #444;
    color: #fff;
}

/*Progres bar section (left)*/
.progress-bar-section {
    margin-top: 20px;
    width: 100%;
}

.progress-bar-section label {
    display: block;
    margin-bottom: 30px;
}

.progress-bar-container {
    width: 100%;
}

.progress-bar {
    width: 100%;
    background-color: #555;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    height: 35px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #14d41d;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
}

/*Progres bar section (left)*/
.progress-bar-section {
    margin-top: 20px;
}

.progress-bar-section label {
    display: block;
}

/* Availability Table Styling */
#availability-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 6px;
}

#availability-table th,
#availability-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#availability-table th {
    background-color: #dbd3d3;
    color: rgb(9, 143, 65);
}

#availability-table input[type="checkbox"] {
    transform: scale(1.2); /* Make checkboxes larger */
}


/*Vertical right section*/
.vertical_right_section {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

#profile-form fieldset.steps {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#profile-form legend h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#profile-form input[type="text"],
#profile-form input[type="email"],
#profile-form input[type="tel"],
#profile-form input[type="date"],
#profile-form input[type="url"],
#profile-form input[type="radio"],
#profile-form input[type="checkbox"],
#profile-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#profile-form select {
    width: 55%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#profile-form input[type="radio"],
#profile-form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

#profile-form label {
    font-size: 16px;
    color: #333;
}

.name-row {
    display: flex;
    gap: 20px;
}

.name-item {
    flex: 1;
}

.country-container,
.other-container,
.email-container,
.linkedin-container,
.prefered-contact-container {
    display: flex;
    align-items: center;
}

.country-container label,
.other-container label,
.email-container label,
.linkedin-container label,
.prefered-contact-container label {
    margin-right: 5px;
}

.country-container input[type="text"],
.other-container input[type="text"],
.email-container input[type="email"],
.linkedin-container input[type="url"]
.prefered-contact-container select {
    flex-grow: 1;
}

.contact-row {
    display: flex;
    gap: 20px;
}

.contact-item {
    flex: 1;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 25px;
}

.gender-options input {
    margin-right: 10px;
}

#step2 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

#step2 ul li {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#step2 ul li label {
    margin-left: 5px;
    margin-right: 5px;
}

.goal-row, .interest-row {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 50%;
}

.goal-row label, .interest-row label {
    margin-right: 5px;
}

.goal-row input[type="text"], .interest-row input[type="text"] {
    flex-grow: 1;
    width: 40%;
}

#reset-button, #save-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#save-button {
    margin-left: auto; /*Push the save button to the right*/
}

#reset-button:hover, #save-button:hover {
    background-color: #218838;
}

#profile-form hr {
    border: 1px solid #f0f0f0;
    margin: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .vertical_left_section {
        margin-bottom: 20px;
        width: 100%;
    }

    .vertical_right_section {
        margin-left: 0;
        width: 100%;
    }
}